a {
	text-decoration: none;
}

.body {
	margin: 0 auto;
	width: 95%;
	max-width: 1024px;
}

.page-header img {
	width: 20%;
	margin: 2% 0;
	display: block;
}

.page-header nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
}

.page-header nav ul {
	list-style: none;
	margin: 0 auto;
}

.page-header nav ul li {
	display: inline;
	float: left;
}

.page-header nav a:link, .page-header nav a:visited {
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	font-weight: bold;
	border-radius: 5px;
}

.page-header nav a:hover, .active {
	background-color: #cf5c3f;
}

.container {
	width: 100%;
	overflow: auto;
}

.content {
	width: 70%;
	float: left;
	
}

.content article header h2 a:link, article header h2 a:visited {
	color: #cf5c3f;
}

.article {
	margin: 20px 0;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 5% 20px 5%;
}

.articleTitle {
	margin-bottom: 10px;
}

.post-info {
	color: #7F7F7F;
	font-style: italic;
}


.sidebar {
	width: 25%;
	font-size: 90%;
	float: right;
}

.sidebar article {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}

.sidebar article h2 {
	margin: 0 0;
}

.top-sidebar {
	margin-top: 20px;
}

#loginButton {
	background-color: transparent;
	float: right;
	font-weight: normal;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
	.body {
		width: 90%;
		font-size: 95%;
	}

	.page-header img {
		width: 90%;
		margin: 2% auto;
	}

	.page-header nav {
		height: 160px;
	}

	.page-header nav ul {
		padding-left: 0;
	}

	.page-header nav ul li {
		display: inline;
		float: left;
		width: 100%;
		text-align: center;
	}

	.page-header nav a:link, .page-header nav a:visited {
		display: block;
	}

	.content {
		width: 100%;
	}

	.sidebar {
		width: 100%;
	}


	.articleTitle {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.post-info {
		font-size: 70%;
	}

	.articleContent p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sidebar article {
		margin-left: 0;
		margin-bottom: 10px;
		float: left;
	}

	.sidebar h2, p {
		margin-top: 0;
		margin-bottom: 0;
	}

	#loginButton {
		background-color: transparent;
		float: right;
		font-weight: normal;
		color: #cf5c3f;
	}

}