
a { color: #555555 }
body h1 { 
	font-family: 'Source Sans Pro';
	text-align: center;
	color: #555555;
	font-size: 2.3em;
	font-weight: normal;
	padding: 100px 0 40px
}

header {
	padding: 10px;
}

#logo {
}

#logo img {
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	
}

#login {
	text-align: right;
	padding-right: 10px;
	font-family: 'Source Sans Pro';
}

.large-fld, .large-btn {
	padding: 17px;
	font-size: 20px;
	border-radius: 8px;
	border: 1px solid #8e8e8e;
	width: 100%;
}

.large-btn {
	color: #fff;
	background-color: #80C051;
	border: none;
	cursor: pointer;
}

.large-btn:hover {
	background-color: #53702B;
}

#large-fld-1 {
	width: 45%;
	margin-right: 10px
}

#large-fld-2 {
	width: 35%;
	margin-right: 10px
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#search-form {
	margin: auto;
	width: 50%;
}

.page-info {
	font-size: 20px;
	margin-top: 120px;
	text-align: center;
	font-family: 'Source Sans Pro';
}

.page-info span {
	color: #87CC55
}