body {
	color: #000305;
	background-color: #E8E7E9;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	text-align: left;
}

button:hover {
	opacity: 0.8;
	cursor: pointer;
}

button {
	background-color: #cf5c3f;
	font-weight: bold;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

a, a:visited {
	color: #cf5c3f;
}

h2 {
	margin: 0;
}

.mainFooter {
	width: 100%;
	margin-top: 5%;
	float: left;
	text-align: center;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {

	.mainFooter {
		width: 100%;
		float: left;
		margin-top: 0;
	}	
}